# Exclude source and test files
src/
test/

# Exclude build configuration files
esbuild.config.js
esbuild.test.js
publish.sh
package.publish.json

# Exclude lock file
pnpm-lock.yaml

# Exclude test files and directories
dist/test.js
.cspell
